@model IEnumerable<DailyReportSystem.Models.Reaction>

@{
    ViewBag.Title = "リアクションした日報一覧";
}

<h2>リアクションした日報一覧</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportId)
        </td>

        <td>
            @Html.ActionLink("詳細", "Details", "Reports", new { id = item.Id })
        </td>
    </tr>
}

</table>
