@model DailyReportSystem.Models.FollowsCreateViewModel

@{
    ViewBag.Title = "フォロー確認";
}

<h2>フォロー確認</h2>

@if ((string)TempData["no_user"] != "true")
{


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.FollowId)

        <div class="form-horizontal">
            <h4>このユーザーをフォローしますか？</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.FollowName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.FollowName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="フォローする" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <h2> お探しのユーザーは存在しません。</h2>
}

<div>
    @Html.ActionLink("フォロー一覧へ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
