@model DailyReportSystem.Models.ReportsDetailsViewModel

@{
    ViewBag.Title = "日報詳細";
}

<h2>日報　詳細ページ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NegotiationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NegotiationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        @Html.Partial("_Approval", Model)

        <dd>　</dd>

        <dd>
            @Html.Partial("_ReactionForm", Model)
        </dd>
    </dl>
</div>
@if (Model.IsReportCreater)
{
    <p>
        @Html.ActionLink("この日報を編集する", "Edit", new { id = Model.Id })
    </p>
}
<p>
    @Html.ActionLink("一覧に戻る", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function disableApprovalButton() {
            $(".btn-approval").attr('disabled', 'disabled');
        }
        function enableApprovalButton() {
            $(".btn-approval").removeAttr('disabled');
        }

        function disableReactionButton() {
            $(".btn-reaction").attr('disabled', 'disabled');
        }
        function enableReactionButton() {
            $(".btn-reaction").removeAttr('disabled');
        }
    </script>
}